//
   Created by florencewu on 11/4/2016.
doctype
html
    head
        title #{title} - Eden
        link(rel='stylesheet', href='/stylesheets/cover.css')
    body
        a(href='/terms') Project Eden

