//
   Created by florencewu on 19/4/2016.

extends layout

block content
    header
        | Want to Get Started?
    br
    a(href='../routes/goals.js')  Goals
        //|  if you are unsure about your goals
    br
    p
        | Go to
        a(href='/pathbuilder')  PathBuilder
        |  if you are wondering how to get to your goal

