//
   Created by florencewu on 19/4/2016.

extends layout

block content
    header
        | Want to Get Started?
    br
    p #[span Check out] #[a(href="https://github.com/") goals] #[span if you are unsure about your goal]

    p #[span Go to] #[a(href='/pathbuilder') PathBuilder] #[span if you are wondering how to achieve your goal]

