//
   Created by florencewu on 19/4/2016.

extends layout

block content
    header
        | Regarding your Goal
    br
    p1
        | What will you do it even if you wouldn't get paid?
        br
        | What does it have to do with your identity?

    p2
        | (insert flow chart)