//output all of the content of layout.jade, and allow us to define content
doctype
html
    head
        title #{title} - Eden
        link(rel='stylesheet', href='/stylesheets/index.css')
    body
        div
            a(href="/main", role="menuitem", tabindex="-1") Home
            a(href="/philo", role="menuitem", tabindex="-1") Some Ideas
            a(href="#", role="menuitem", tabindex="-1") Denumerification
        header Project Eden
        p A another way to live your 100 years