//output all of the content of layout.jade, and allow us to define content
doctype
html
    head
        title #{title} - Eden
        link(rel='stylesheet', href='/stylesheets/index.css')
    body
        div
            .dropdown
                button.dropbtn
                    a(href="/main", role="menuitem", tabindex="-1") Home
            .dropdown
                button.dropbtn
                    a(href="/philo", role="menuitem", tabindex="-1") Some Ideas
                .dropdown-content
                    a(href="/rules", role="menuitem", tabindex="-1") The 3 Fundamental Rules
                    a(href="/pyramid", role="menuitem", tabindex="-1") The Pyramid of Life
                    a(href="/hap", role="menuitem", tabindex="-1") The Unhappy People
            .dropdown
                button.dropbtn
                    a(href="/denumerification", role="menuitem", tabindex="-1") Denumerification
                .dropdown-content
                    a(href="/goals", role="menuitem", tabindex="-1") Goals
                    a(href="/pathbuilder", role="menuitem", tabindex="-1") PathBuilder
                    a(href="/contact", role="menuitem", tabindex="-1") Contribute
            .dropdown
                button.dropbtn
                    a(href="/flow", role="menuitem", tabindex="-1") About Me
            header Project Eden
        p Another way to live your 100 years