//output all of the content of layout.jade, and allow us to define content
doctype
html
    head
        title #{title} - Eden
        link(rel='stylesheet', href='/stylesheets/index.css')
    body
        div
            .dropdown
                button.dropbtn
                    a(href="/main", role="menuitem", tabindex="-1") Home
            .dropdown
                button.dropbtn
                    a(href="/philo", role="menuitem", tabindex="-1") Some Ideas
                .dropdown-content
                    a(href="#", role="menuitem", tabindex="-1") The 3 Fundamental Rules
                    a(href="#", role="menuitem", tabindex="-1") The Pyramid of Life
                    a(href="#", role="menuitem", tabindex="-1") Who Am I
                    a(href="/philo", role="menuitem", tabindex="-1") About Happiness
            .dropdown
                button.dropbtn
                    a(href="#", role="menuitem", tabindex="-1") Denumerification
                .dropdown-content
                    a(href="#", role="menuitem", tabindex="-1") Path Builder to Dreams
                    a(href="#", role="menuitem", tabindex="-1") TODOs
                    a(href="#", role="menuitem", tabindex="-1") Startups
                    a(href="#", role="menuitem", tabindex="-1") Contribute
            .dropdown
                button.dropbtn
                    a(href="#", role="menuitem", tabindex="-1") About Me
            header Project Eden
        p A another way to live your 100 years