doctype
html
    head
        title #{title} - Eden
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Project Eden
        div.dropdown
            ul.dropdown-menu(role="menu")
                a(href="/main", role="menuitem", tabindex="-1") Home   |
                a(href="/hap", role="menuitem", tabindex="-1") Happiness    |
                a(href="#", role="menuitem", tabindex="-1") Denumerification
        .container
            .main-content
                block content
        footer
            p Running on node with Express, Jade and Stylus
