doctype
html
    head
        title #{title} - Eden
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            a1(href="/main", role="menuitem",tabindex="-1") Project
            a2(href="/main", role="menuitem",tabindex="-1") Eden.
        div
            .dropdown
                button.dropbtn
                    a(href="/main", role="menuitem", tabindex="-1") Home
            .dropdown
                button.dropbtn
                    a(href="/philo", role="menuitem", tabindex="-1") Some Ideas
                .dropdown-content
                    a(href="/rules", role="menuitem", tabindex="-1") The 3 Fundamental Rules
                    a(href="/pyramid", role="menuitem", tabindex="-1") The Pyramid of Life
                    a(href="/hap", role="menuitem", tabindex="-1") The Unhappy People
            .dropdown
                button.dropbtn
                    a(href="#", role="menuitem", tabindex="-1") Denumerification
                .dropdown-content
                    a(href="#", role="menuitem", tabindex="-1") Path Builder to Dreams
                    a(href="#", role="menuitem", tabindex="-1") Startups
                    a(href="#", role="menuitem", tabindex="-1") Contribute
            .dropdown
                button.dropbtn
                    a(href="/flow", role="menuitem", tabindex="-1") About Me
        .gear
            .left
                img(src= "https://openclipart.org/image/2400px/svg_to_png/213252/Gear-icon.png")
            .right
                //img(src="http://liraprogram.com/website/Portals/0/Images/LIRA/industrygears.gif")

        .container
            .main-content
                block content

    //footer
    //    p
    //        | @FloW
