//
   Created by florencewu on 19/4/2016.
doctype html
html(lang='en')
    head
        title Pathbuilder
        meta(charset='utf-8')
        //script(src="https://d3js.org/d3.v3.min.js", charset="utf-8")
        //script(src="bower_components/angular/angular.js")
        //script(src="js/controllers.js")
        link(rel='stylesheet', href='css/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='css/tree.css')
    body
        .container-fluid
            div(ng-app='ChartsApp')
                h1.text-center Architecture Tree
                div(ng-controller='filterCtrl')
                    ng(include src="'js/angular.architectureTree/templates/filter.html'")
                div(ng-controller='chartCtrl')
                    tree(chart data='data', diameter='960')
                div(ng-controller='panelCtrl')
                    #panel
                        div(ng-if='detail')
                            ng(include src="'js/angular.architectureTree/templates/panel-detail.html'")
                        div(ng-if='edit')
                            ng(include src="'js/angular.architectureTree/templates/panel-edit.html'")
                div(ng-controller='undoCtrl')
                    .json-upate-label.bg-success(ng-if='hasHistory()')
                        | Updated JSON
                        a(ng-click='undo()') (undo)
                div(ng-controller='jsonDataCtrl')
                    textarea#json-data.form-control(ng-model='data', ng-blur='updateData()')
        script(src='js/vendor/d3.v3.js')
        script(src='js/vendor/angular.min.js')
        script(src='js/d3.architectureTree.js')
        script(src='js/angular.architectureTree/app.js')
        script(src='js/angular.architectureTree/controllers/chart.js')
        script(src='js/angular.architectureTree/controllers/filter.js')
        script(src='js/angular.architectureTree/controllers/json-data.js')
        script(src='js/angular.architectureTree/controllers/panel.js')
        script(src='js/angular.architectureTree/controllers/undo.js')
        script(src='js/angular.architectureTree/directives/tree-chart.js')
        script(src='js/angular.architectureTree/directives/init-focus.js')
        script(src='js/angular.architectureTree/services/data.js')
        script(src='js/angular.architectureTree/services/bus.js')
| Project Eden
