extends layout

block content
    p1
        //about happiness
        | The goal of Project Eden
    br

    p2
        | is to remind people about the meaning
        | of their existence and the
        | importance of their identity.
        | To me, Project Eden is like the
        | second Renaissance.

    p3
        br
        | You are not your salary.
        br
        img(src= "http://simpleicon.com/wp-content/uploads/coin-money-2.png")
        br
        | You are not your grade.
        br
        img(src= "https://cdn0.iconfinder.com/data/icons/education-15/500/result-512.png")
        br
        | You are not defined by your bank account or your SAT score.
        br
        img(src= "https://cdn0.iconfinder.com/data/icons/thin-users-people/57/thin-219_thinking_brain_head_mind-512.png")

    br
    p4
        | You are your dream.
        br
        | Your personality matters.
        br
        img(src= "https://www.photographians.com/wp-content/uploads/2015/01/icon_Creative.png")

