//
   Created by florencewu on 15/4/2016.
extends layout

block content
    header
        | The Pyramid of Life
    br
    .pyramid

        img(src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/73f28736271099.5716181c2cc9a.png")