//
   Created by florencewu on 15/4/2016.

extends layout

block content
    p1
        | The 3 Fundamental Rules
    br
    p2
        | 1. We are always subconsciously trying to be happy
        br
        | 2. We will find happiness in their journal to pursue their dream
        br
        | 3. Our education and occupation are only means to achieve our dreams, not ends themselves
