/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Poiret+One')
@import url('http://fonts.googleapis.com/css?family=Raleway:300')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */

background-color = white
theme = #34DDDD
c1 = #5EA2A5
c2 = #296379
c3 = #C2324B
c4 = #B1A9B8
c5 = #F0DFD5


body
    text-align center
    background-color black
    font-family 'Poiret One'
    font-size 40px

    position relative
    top 700%
    transform translateY(550%)


    a:link
        text-align center
        padding 14px 25px
        color white
        text-decoration none

        margin auto
        width 70%
        border 1px solid white
        padding 40px 160px

    a:visited
        color white

    a:hover
        color theme

        margin auto
        width 70%
        border 1.5px solid theme
        padding 40px 160px


