/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Poiret+One");
@import url("http://fonts.googleapis.com/css?family=Raleway:300");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  text-align: center;
  background-color: #000;
  font-family: 'Poiret One';
  font-size: 40px;
  position: relative;
  top: 700%;
  -webkit-transform: translateY(550%);
  -moz-transform: translateY(550%);
  -o-transform: translateY(550%);
  -ms-transform: translateY(550%);
  transform: translateY(550%);
}
body a:link {
  text-align: center;
  padding: 14px 25px;
  color: #fff;
  text-decoration: none;
  margin: auto;
  width: 70%;
  border: 1px solid #fff;
  padding: 40px 160px;
}
body a:visited {
  color: #fff;
}
body a:hover {
  color: #34dddd;
  margin: auto;
  width: 70%;
  border: 1.5px solid #34dddd;
  padding: 40px 160px;
}
