/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Poiret+One')
@import url('http://fonts.googleapis.com/css?family=Raleway:300')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */

background-color = white
c1 = #5EA2A5
c2 = #296379
c3 = #C2324B
c4 = #B1A9B8
c5 = #F0DFD5


body
    text-align center
    background-color black
    font-family 'Poiret One'
    font-size 40px

    margin auto
    width 40%
    border 1px solid white
    padding 30px


    position relative
    top 50%
    transform translateY(150%)


    a

        text-align center
        padding 14px 25px
        color white
        text-decoration none

        link
            color white

        hover
            color c3