/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Josefin+Sans')
@import url('http://fonts.googleapis.com/css?family=Josefin+Slab')
@import url('http://fonts.googleapis.com/css?family=Poiret+One')
@import url('http://fonts.googleapis.com/css?family=Quicksand')
@import url('http://fonts.googleapis.com/css?family=Raleway:200')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
background-color = #E4F0EC
text = #06222f
theme = #34DDDD
c1 = #5EA2A5
c2 = #296379
c3 = #C2324B
c4 = #B1A9B8
c5 = #F0DFD5

body
    background-image url('https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b09f84e8e8fd58ee91faf817b9f903d7')
    //background-image-filter brightness(50%)
    background-size 1280px 800px

    header
        color text
        font-family "Raleway"
        text-align center
        font-size 60px

        //text-shadow 1px 1px black

        position relative
        top 500%
        transform translateY(370%)
    p
        color text
        font-family "Quicksand"
        text-align center
        font-size 20px
        text-decoration none
        //text-shadow 1px 1px black

        padding 14px 10px 10px 350px

        position relative
        top 500%
        transform translateY(530%)

    div
        color white
        font-family Quicksand

        position relative
        top 61%
        transform translateY(10%)

        .dropbtn

            position relative
            float center
            background-color rgba(0, 0, 0, 0.6)
            padding 16px 103px

            border none
            cursor pointer

        .dropbtn a
            font-family Quicksand

            text-decoration none
            color white
            font-size 18px


        .dropdown
            position relative
            display inline-block

        .dropdown-content
            display none
            padding 16px 50px

            position absolute
            background-color rgba(0, 0, 0, 0.4)
            min-width 250px

        .dropdown-content a
            text-align left
            font-family Quicksand
            color white
            padding 21px 0px

            text-decoration none
            display block

        .dropdown-content a:hover
            color theme

        .dropdown:hover .dropdown-content
            display block

        .dropdown:hover .dropbtn
            color theme

        .dropbtn a:hover
            color theme