/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("http://fonts.googleapis.com/css?family=Josefin+Slab");
@import url("http://fonts.googleapis.com/css?family=Poiret+One");
@import url("http://fonts.googleapis.com/css?family=Quicksand");
@import url("http://fonts.googleapis.com/css?family=Raleway:200");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  background-image: url("https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b09f84e8e8fd58ee91faf817b9f903d7");
  -webkit-background-size: 1280px 800px;
  -moz-background-size: 1280px 800px;
  background-size: 1280px 800px;
}
body header {
  color: #06222f;
  font-family: "Raleway";
  text-align: center;
  font-size: 60px;
  position: relative;
  top: 500%;
  -webkit-transform: translateY(370%);
  -moz-transform: translateY(370%);
  -o-transform: translateY(370%);
  -ms-transform: translateY(370%);
  transform: translateY(370%);
}
body p {
  color: #06222f;
  font-family: "Quicksand";
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  padding: 14px 10px 10px 350px;
  position: relative;
  top: 500%;
  -webkit-transform: translateY(530%);
  -moz-transform: translateY(530%);
  -o-transform: translateY(530%);
  -ms-transform: translateY(530%);
  transform: translateY(530%);
}
body div {
  color: #fff;
  font-family: Quicksand;
  position: relative;
  top: 61%;
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -o-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
}
body div .dropbtn {
  position: relative;
  float: center;
  background-color: rgba(0,0,0,0.6);
  padding: 16px 103px;
  border: none;
  cursor: pointer;
}
body div .dropbtn a {
  font-family: Quicksand;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
body div .dropdown {
  position: relative;
  display: inline-block;
}
body div .dropdown-content {
  display: none;
  padding: 16px 50px;
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  min-width: 250px;
}
body div .dropdown-content a {
  text-align: left;
  font-family: Quicksand;
  color: #fff;
  padding: 21px 0px;
  text-decoration: none;
  display: block;
}
body div .dropdown-content a:hover {
  color: #34dddd;
}
body div .dropdown:hover .dropdown-content {
  display: block;
}
body div .dropdown:hover .dropbtn {
  color: #34dddd;
}
body div .dropbtn a:hover {
  color: #34dddd;
}
