/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')
@import url('http://fonts.googleapis.com/css?family=Poiret+One')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
background-color = #E4F0EC
text = #06222f
theme = #34DDDD
c1 = #5EA2A5
c2 = #296379
c3 = #C2324B
c4 = #B1A9B8
c5 = #F0DFD5