/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
@import url("http://fonts.googleapis.com/css?family=Poiret+One");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
.node circle {
  fill: #fff;
  stroke: #4682b4;
  stroke-width: 3px;
}
.node text {
  font: 12px Quicksand;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
h1 {
  font-family: Quicksand;
  font-size: 30px;
  text-align: center;
  padding: 30px 10px;
  border-bottom: 1px solid #a9a9a9;
}
form {
  padding: 20px;
  border: 1px solid #a9a9a9;
  margin: 30px;
  font-family: Quicksand;
  min-width: 300px;
  line-height: 150%;
  font-size: 14px;
}
.input {
  padding: 10px;
}
.sample-show-hide {
  padding: 10px;
  background: #fff;
}
.sample-show-hide {
  -webkit-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
