/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
@import url("http://fonts.googleapis.com/css?family=Poiret+One");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
header {
  font-family: 'Poiret One';
  padding: 20px 10px;
  color: #fff;
  text-align: center;
  background-color: #000;
}
header a1 {
  font-family: 'Poiret One';
  color: #fff;
  font-size: 40px;
  text-align: center;
  background-color: #000;
}
header a2 {
  color: #34dddd;
  font-size: 45px;
}
.container {
  width: 800px;
  margin: 10px auto;
  z-index: -1;
  padding-bottom: 10px;
}
.container .main-content {
  background-color: rgba(0,0,0,0.7);
  padding: 70px;
  border: solid 1px #000;
  text-align: left;
  color: #fff;
  z-index: 10;
}
.container .main-content header {
  font-family: Quicksand;
  font-size: 30px;
  text-align: center;
}
.container .main-content p a {
  padding: 0px;
  background-color: rgba(0,0,0,0);
  color: #fff;
  text-align: center;
}
.container .main-content p a:hover {
  color: #34dddd;
}
.container .main-content p1 {
  font-family: Quicksand;
  font-size: 30px;
  line-height: 200%;
}
.container .main-content p2 {
  font-family: Quicksand;
  font-size: 16px;
  word-spacing: 5px;
  line-height: 150%;
}
.container .main-content .pyramid img {
  min-width: 600px;
  padding: 0px;
  float: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.container .main-content p3 {
  font-family: Quicksand;
  font-size: 16px;
  word-spacing: 5px;
  line-height: 150%;
}
.container .main-content p4 {
  font-family: Quicksand;
  font-size: 50px;
  line-height: 200%;
}
.container br {
  height: 20px;
}
.container img {
  padding: 20px;
  max-width: 100px;
  text-align: center;
}
body {
  background-image: url("http://orig05.deviantart.net/b39d/f/2015/217/5/e/gear_gif_by_zero_the_noob_artis-d94baao.gif");
  -webkit-background-size: 1280px;
  -moz-background-size: 1280px;
  background-size: 1280px;
}
body p {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
body a {
  text-align: center;
  vertical-align: text-top;
  background-color: #fff;
  padding: 10px 150px;
  color: #000;
  text-decoration: none;
}
body a:hover {
  color: #34dddd;
}
body div {
  color: #fff;
  font-family: Quicksand;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -o-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
}
body div .dropbtn {
  background-color: #000;
  padding: 16px 80px;
  width: 100%;
  border: none;
  cursor: pointer;
}
body div .dropbtn a {
  font-family: Quicksand;
  background-color: #000;
  padding: 10px 10px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
body div .dropdown {
  position: relative;
  display: inline-block;
  width: 25%;
}
body div .dropdown-content {
  display: none;
  position: absolute;
}
body div .dropdown-content a {
  text-align: left;
  font-family: Quicksand;
  background-color: #000;
  color: #fff;
  padding: 21px 20px;
  min-width: 300px;
  text-decoration: none;
  display: block;
}
body div .dropdown-content a:hover {
  color: #34dddd;
}
body div .dropdown:hover .dropdown-content {
  display: block;
}
body div .dropdown:hover .dropbtn {
  color: #34dddd;
}
body div .dropbtn a:hover {
  color: #34dddd;
}
body .gear .left {
  position: relative;
  top: 1%;
  float: left;
}
body .gear .left img {
  width: 300px;
}
body .gear .right {
  width: 50px;
  position: absolute;
  top: 1%;
  margin-left: 1000px;
}
body .gear .right img {
  width: 220px;
}
footer {
  width: 700px;
  font-family: Quicksand;
  color: #000;
  margin-left: 50px;
  padding: 10px;
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}
footer p {
  padding: 5px;
}
