/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')
@import url('http://fonts.googleapis.com/css?family=Poiret+One')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
background-color = #E4F0EC
text = #06222f
theme = #34DDDD
c1 = #5EA2A5
c2 = #296379
c3 = #C2324B
c4 = #B1A9B8
c5 = #F0DFD5


header
    font-family 'Poiret One'
    padding 20px 10px
    color white
    text-align center
    //border-bottom solid 0.5px white
    background-color black

    a1
        font-family 'Poiret One'
        color white
        font-size 40px
        text-align center
        //border-bottom solid 0.5px white
        background-color black
    a2
        color theme
        font-size 45px

.container
    width 800px
    margin 10px auto
    z-index -1
    padding-bottom 10px

    .main-content
        background-color rgba(0, 0, 0, 0.7)
        padding 70px
        border solid 1px black
        text-align left
        color white

        header
            font-family Quicksand
            font-size 30px
            text-align center

        p1
            font-family Quicksand

            font-size 30px
            line-height 200%

        p2
            font-family Quicksand
            font-size 16px
            word-spacing 5px
            line-height 150%

        .pyramid
            img
                min-width 600px
                padding 0px
                float center
                align-items center


        p3

            font-family Quicksand
            font-size 16px
            word-spacing 5px

            line-height 150%

        p4
            font-family Quicksand
            font-size 50px
            line-height 200%

    br
        height 20px

    img
        padding 20px
        max-width 100px
        text-align center



body
    background-image url('http://orig05.deviantart.net/b39d/f/2015/217/5/e/gear_gif_by_zero_the_noob_artis-d94baao.gif')
    background-size 1280px
    //background-repeat no-repeat

    p
        font-size 13px
        padding 0px 10px
        margin-bottom 10px

    a
        text-align center
        vertical-align text-top
        background-color white
        padding 10px 150px
        color black
        text-decoration none

    a:hover
        color theme

    div
        color white
        font-family Quicksand

        position relative
        top 50%
        transform translateY(10%)

        .dropbtn
            background-color black
            padding 16px 95px

            border none
            cursor pointer

        .dropbtn a
            font-family Quicksand
            background-color black
            padding 10px 10px

            text-decoration none
            color white
            font-size 18px


        .dropdown
            position relative
            display inline-block

        .dropdown-content
            display none
            //padding 16px 50px

            position absolute
            //background-color rgba(0, 0, 0, 0.6)


        .dropdown-content a
            text-align left
            font-family Quicksand
            background-color black
            color white
            padding 21px 20px

            min-width 300px

            text-decoration none
            display block

        .dropdown-content a:hover
            color theme

        .dropdown:hover .dropdown-content
            display block

        .dropdown:hover .dropbtn
            color theme

        .dropbtn a:hover
            color theme
    .gear
        .left
            position relative
            top 1%
            float left
            img
                width 300px
            //z-index -1
        .right
            width 50px
            position absolute
            top 1%
            margin-left 1000px
            img
                width 220px

            //z-index -1

footer
    width 700px
    font-family Quicksand
    color black
    //border-top 1px dotted black
    margin-left 50px
    padding 10px

    clear both
    position relative
    z-index 10
    height 3em
    margin-top -3em

    p
        padding 5px


