/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("http://fonts.googleapis.com/css?family=Josefin+Slab");
@import url("http://fonts.googleapis.com/css?family=Poiret+One");
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
header {
  padding: 30px 10px 10px 10px;
  color: #fff;
  font-family: 'Poiret One';
  font-size: 40px;
  text-align: center;
  background-color: #000;
  border-bottom-style: solid;
  border-color: #fff;
  border-width: 1px;
}
body {
  font-family: 'Quicksand';
  font-size: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 700px;
  margin: 50px auto;
  padding-top: 40px;
}
body p {
  line-height: 150%;
  padding-top: 10px;
}
body input[type = checkbox] {
  line-height: 100%;
  padding: 20px 20px;
  margin: 8px 0;
}
body input[type = button] {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
body input[type = button]:hover {
  color: #34dddd;
  border: 1px solid #34dddd;
}
